{% extends '/layout/layout.twig' %}
{% block content %}
    <div class="container errorPageFirst">
        <div class="errorPageMessage">
            <p>
                Ups, naišli ste na stranicu koja ne postoji.<br />
            </p>
        </div>
    </div>


{% endblock %}